.container {
    width: 80vw;
    height: 100vh;
    margin: 0 10%;
    justify-content: center;

}

.header {
    width: 100%;
    height: 5%;

    /* text-align: center; */
    align-items: center;
    display: flex;
    justify-content: center;


    padding-top: 3rem;
}


.top {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */

}

.browse-search {
    width: 70%;
    justify-content: space-evenly;
    /* background: black; */

}

.browse-search input {

    width: 800px;
}




.browse-search {
    display: flex;
    justify-content: space-between;
}

.mid {
    width: 100%;
    height: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom {
    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}


.image-container {
    width: 40%;
    height: 90%;

    align-items: center;
    display: flex;
    justify-content: center;

    border: 1px solid black;
    border-radius: 20px;
}

.video-container {
    border: 1px solid black;
    border-radius: 20px;



    position: relative;
    width: 50%;
    height: 90%;


    display: flex;
    align-items: center;
    justify-content: center;

}




.video-container video {
    position: absolute;
    width: 80%;
    height: 80%;


}


button {
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    margin: 0 10px;
    padding: 0 10px;

    background: #0D74CE;
    color: white;
}


.footer {
    width: 100%;
    height: 10%;
    text-align: center;
}